/* Navbar Styles */

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    }

    
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px;

}



#logo {
  display: flex;
  gap: 5px;
  align-items: center;
  
}

#logo img {
  width: 150px;
  height: auto;
  position: absolute;
  top: -20px;
}

#logo p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 60px;
    flex-shrink: 0;
}

.nav-item a {
    text-decoration: none;
    font-weight: 500;
    color: #333;

}





.nav-item a:hover {
    color: #ff6600;
    transition: color 0.4s ease;
}


.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid  #800080;
    border-radius: 2px;
    cursor: pointer;
    }
   /*navbar mobile controlando acesso */ 

   .txt-mobile {
    display: none;
   }

  @media screen and (max-width: 1000px) {

    /* classe geral */

    header {
      padding: 5px 4%;
    }



  #home {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    width: 100%;
    
  }

  #cta {
    width: 100%;
    max-width: 420px;
    padding: 0 10px;
  }

  #home h1 {
    font-size: 40px !important;
    line-height: 1.2;
  }

  #home p {
    font-size: 16px;
    line-height: 1.5;
  }

  #banner {
    display: flex;
    justify-content: center;
  }

  #banner img {
    max-width: 300%;
    height: auto;
   
  }

  .social-media-buttons {
    max-width: fit-content;
    align-items: center;

  }

   /*navbar*/ 

   #navbar {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0 !important;
  
    
   }


    #nav_list {
    margin-left: 0;
    justify-content: center;
    gap: 30px;
    }

    #nav_list li a {
      font-size: 14px;
      text-align: center;
      display: block;

    }

    .txt-desktop {
      display: none;
    }

    .txt-mobile {
      display: inline;
    }

    







    #logo img {
      width: 120px;
     position: static;
    }


    /* section 2  */ 





    /* carrolssel */ 

    .carousel {

        mask-image: none;
       justify-content: center;
       width: 100%;
        margin-top: 30px;
        padding: 0;
        margin: 1px;
        margin-top: 25px;
    }

    .card {
        width: 90px;
        height: 100px !important;
     border-radius: 5px;
     display: flex;                 
     flex-direction: column;        
     align-items: center;           
     justify-content: center;       
     padding: 8px;
     flex-shrink: 0;
     box-shadow: none;

    }
    

    .card i {
        font-size: 25px;
    }

    .card p {
        font-size: 10px;
        margin: 0;
    }


    .group2 {
        display: none;
    }

   .group{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     animation: none;
     justify-content: center;
     width: fit-content;
     gap: 15px;
     margin-left: 30px;
    
    
    
   }





   .gallery {
       display: flex !important;
        flex-wrap: wrap !important; 
        justify-content: center;  
        align-items: center;  
        gap: 12px;                 
        margin: 30px auto;
        grid-template-columns: (2, 1fr);
        width: 100%;
   }

   .gallery img {
    
        width: 40%; 
    }


    iframe {
     justify-content: center;
     align-items: center;
      width: 100%;
      height: 320px;
    }

}  


/* falta ajeitar isso ainda */ 
@media screen and (min-width: 1001px) {
  #banner img {
    width: 800px;
    height: auto;
  }

  .gallery  {
       display: flex !important;
        flex-wrap: wrap !important; 
        justify-content: center;  
        align-items: center;  
        gap: 20px;                 
        margin: 30px auto;
        grid-template-columns: (2, 1fr);
        width: 90%
   }

   .gallery img {
    
        width: 20%; 
    }
  }



@media screen and (max-width: 1094px) {
  #nav_list {
    font-size: 14px;
    gap: 40px;
  }
  #navbar {
    justify-content: space-around;
  }
 #logo img {
    left: 100px;
  }
}

